<!-- R30 section -->
<section>
  <div class="container">
    <h3 class="text-center text-uppercase">R30 philosophy</h3>
    <p>
      At La Dolce Vita, we're proud to embrace the 'R30 Philosophy' - a
      commitment to sourcing the freshest, most flavorful ingredients from local
      farmers within a 30-kilometer radius of our restaurant. We believe in
      supporting our community and reducing our carbon footprint by choosing to
      work with passionate local farmers and producers. Our dedication to the
      R30 Philosophy means that every mouthwatering dish on our menu is crafted
      with ingredients that are at the peak of their freshness. You can taste
      the difference in every bite, as our food bursts with flavor and a
      connection to the region we call home. Come and experience the essence of
      local, sustainable dining at its finest at La Dolce Vita.
    </p>
    <div class="row row-cols-md-5 row-cols-sm-2">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</section>

<!-- Google Maps Location  -->

<section>
  <div class="container">
    <hr />
    <h2 class="text-center">Where u can find us?</h2>
    <hr />
    <div class="ratio ratio-16x9">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89636.35598267837!2d11.80867419965734!3d45.406594525416644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477eda5841ab30cf%3A0xc18236edaa1a2e2c!2sPadua%2C%20Province%20of%20Padua%2C%20Italy!5e0!3m2!1sen!2sat!4v1697834821498!5m2!1sen!2sat"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="rounded-5"
      ></iframe>
    </div>
  </div>
</section>
