<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand d-block d-lg-none" routerLink="/">
      <img src="../../assets/images/logo.png" height="150" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a
            class="nav-link mx-2 active hover-underline-animation"
            aria-current="page"
            routerLink="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 hover-underline-animation" routerLink="menu"
            >Menu</a
          >
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link mx-2" routerLink="/">
            <img src="../../assets/images/logo.png" height="200" />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link mx-2 hover-underline-animation"
            routerLink="aboutus"
            >About us</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="cart" class="nav-link mx-2 hover-underline-animation"
            ><i class="fa-solid fa-cart-shopping" style="color: #ff6666"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
