<!-- hero section -->

<section class="container">
  <hr />
  <h3 class="text-center text-uppercase">the ultimate italian pizzeria</h3>
  <h2 class="text-center text-uppercase">
    where every slice of pizza tell you our story
  </h2>
  <hr />
  <div class="row row-cols-md-2 p-5 align-items-center">
    <div>
      <h3 class="text-center pb-3">
        Homecrafted World's Best Pizza
        <i class="fa-solid fa-pizza-slice" style="color: #ff6161"></i>
      </h3>
      <p>
        Each mouthwatering slice is a labor of love, meticulously prepared with
        the finest Italian ingredients and time-honored family recipes. Our
        crispy, wood-fired crusts, topped with rich, flavorful tomato sauce, and
        a tantalizing medley of hand-selected, fresh toppings, create an
        unforgettable taste experience that transports your senses to the heart
        of Italy. Whether you savor our classic Margherita, explore the
        adventurous flavors of our gourmet varieties, or design your own
        masterpiece, our pizza is a true artisanal masterpiece that celebrates
        the essence of Italian cuisine. Discover the perfect harmony of
        tradition and innovation in every bite, and join us in the quest for the
        world's best homemade Italian pizza.
      </p>
    </div>
    <div>
      <img
        src="https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg"
        alt=""
        class="img-fluid shadow1 rounded-4"
      />
    </div>
  </div>
</section>

<!-- Features -->

<section>
  <div class="container">
    <div class="row row-cols-md-2 p-5 align-items-center">
      <div>
        <img
          src="https://www.pizzeriaviennagate.sk/images/domov_60d23af6f38ae70a.jpg"
          alt=""
          class="img-fluid rounded-4"
        />
      </div>
      <div>
        <h3 class="pb-3">We can offer you</h3>
        <p>
          <i class="fa-solid fa-check" style="color: #ff6666"></i> We will
          prepare family and company events with complete catering
        </p>
        <p>
          <i class="fa-solid fa-check" style="color: #ff6666"></i> We can also
          prepare meals from ingredients for gluten-free and lactose-intolerant
          customers.
        </p>
        <p>
          <i class="fa-solid fa-check" style="color: #ff6666"></i>
          The capacity of the operation is 90 seats in the restaurant, 60 seats
          in the gallery premises and 60 seats on the summer terrace.
        </p>
      </div>
    </div>
    <h3 class="text-center pb-3">
      Our Fresh ingredients from local farmars
      <i class="fa-solid fa-tractor" style="color: #ff6666"></i>
    </h3>
    <p class="text-center text-muted">
      Since we gained the ICEA certification we don't use tinned and long-life
      ingredients anymore. All the vegetables that you find on our Pizzettas are
      fresh, come from local fair trade cultivation fields and we work them in
      our kitchens every day.
    </p>
    <div class="row row-cols-md-3">
      <div>
        <img
          src="https://www.trieste.pizza/resources/images/broccoli.jpg"
          alt=""
          class="img-fluid"
        />
        <h5 class="text-center">Fresh Brocooli,From Local Farm</h5>
      </div>
      <div>
        <img
          src="https://www.trieste.pizza/resources/images/mozzarella.jpg"
          alt=""
          class="img-fluid"
        />
        <h5 class="text-center">
          The mozzarella that we use is from 100% Italian cow's Milk.
        </h5>
      </div>
      <div>
        <img
          src="https://www.trieste.pizza/resources/images/pomodorini.jpg"
          alt=""
          class="img-fluid"
        />
        <h5 class="text-center">Pachino Cherry Tomatoes. Mnaam</h5>
      </div>
    </div>
  </div>
</section>
